<div class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 my-1">
                <div class="footer-copyright text-center py-3">© 2020 Copyright: MedikaGoB5</div>
            </div>
        </div>
    </div>
</div>
