{% load static %}

<nav style="background-color: #F1DED0;" class="navbar navbar-expand-md navbar-dark" >
    <div class="container" style="position:static;">
      <a style="color: #222831;" class="navbar-brand" href="/">
        <i class="fa d-inline fa-lg fa-database"></i>
        <b>MedikaGo</b>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav navbar-nav navbar-right">

        {% if request.session.user == "nothing" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login:home' %}">Login</a>
          </li>
        {% elif request.session.user == "administrator" %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login:admin' %}"><img src="{% static 'img/user.png' %}" style="width:30px; display:inline;"></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login:pengguna' %}"><img src="{% static 'img/user.png' %}" style="width:30px; display:inline;"></a>
          </li>
        {% endif %}
          

      </ul>
  </div>

</nav>
 