
@import url("https://fonts.googleapis.com/css?family=Anton&family=Modak&family=Poppins:wght@400;500&display=swap");
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #E0CFE3;
}
  div {
    font-family: Poppins, sans-serif;
  }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


.space{
    margin-top: 1em ;
}


/* Set the fixed height of the footer here */
#footer {
  height: 60px;

}