{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Daftar Tindakan Poliklinik
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
  <div class="page-header">
      <h1 style="color: black;">DAFTAR TINDAKAN POLIKLINIK</h1>
  </div>
  <div>
      <table class=' table table-condensed '>
          <thead>
              <tr>
                <th>ID Tindakan Poliklinik</th>
                <th>ID Poliklinik</th>
                <th>Nama Tindakan</th>
                <th>Deskripsi</th>
                <th>Tarif</th>
                    {% if request.session.user == "administrator" %}
                    <th>Action</th>
                    {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for data in view_daftar_tindakan_poli %}
              <tr>
                      <td>{{data.id_tindakan_poli}}</td>
                      <td>{{data.id_poliklinik}}</td>
                      <td>{{data.nama_tindakan}}</td>
                      <td>{{data.deskripsi}}</td>
                      <td>Rp {{data.tarif}}</td>
                      {% if request.session.user == "administrator" %}
                        <td>     
                            <div class="pi-draggable btn-group" draggable="true">
                                <form action="update_tindakan_poli" method="GET" class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Update">
                                    <input type="hidden" name="id_tindakan_poli" value="{{data.id_tindakan_poli}}">
                                </form>
                                
                                <form action="delete_tindakan_poli" method="GET" class="form-group">
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                    <input type="hidden" name="id_tindakan_poli" value="{{data.id_tindakan_poli}}">
                                </form>
                            </div>
                        </td>
                        {% endif %}             
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% if request.session.user == "administrator" %}
        <a class="btn btn-primary" href="{% url 'app2:create_tindakan_poli' %}" style="width: 250px;">
            Create Tindakan Poliklinik
        </a>
        {% endif %}
  </div>
</div>
{% endblock %}