{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Daftar Tindakan
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
  <div class="page-header">
      <h1 style="color: black;">DAFTAR TINDAKAN</h1>
  </div>
  <div>
      <table class=' table table-condensed '>
          <thead>
              <tr>
                <th>ID Konsultasi</th>
                <th>No Urut</th>
                <th>Biaya</th>
                <th>Catatan</th>
                <th>ID Transaksi</th>
                <th>Daftar ID Tindakan Poli</th>
                {% if request.session.user == "administrator" %}
                <th>Action</th>
                {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for data in view_daftar_tindakan %}
              <tr>
                      <td>{{data.id_konsultasi}}</td>
                      <td>{{data.no_urut}}</td>
                      <td>{{data.biaya}}</td>
                      <td>{{data.catatan}}</td>
                      <td>{{data.id_transaksi}}</td>
                      <td>{{data.daftar_id_tindakan_poli}}</td>
                      {% if request.session.user == "administrator" %}
                      <td>     
                        <div class="pi-draggable btn-group" draggable="true">
                            <form action="update_tindakan" method="GET" class="form-group">
                                <input type="submit" class="btn btn-primary" value="Update">
                                <input type="hidden" name="id_konsultasi" value="{{data.id_konsultasi}}">
                                <input type="hidden" name="no_urut" value="{{data.no_urut}}">
                            </form>
                            
                            <form action="delete_tindakan" method="GET" class="form-group">
                                <input type="submit" class="btn btn-danger" value="Delete">
                                <input type="hidden" name="id_konsultasi" value="{{data.id_konsultasi}}">
                                <input type="hidden" name="no_urut" value="{{data.no_urut}}">
                            </form>
                        </div>
                    </td>
                    {% endif %}
                
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% if request.session.user == "administrator" %}
        <a class="btn btn-primary" href="{% url 'app2:create_tindakan' %}" style="width: 250px;">
            Create Tindakan
        </a>
        {% endif %}
  </div>
</div>
{% endblock %}