{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Melihat Profil Pasien
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
    <h1 style="color: black;">Profil</h1>
        <section id= "myprofile">
            <div class="form-group">
                <label>Nama Lengkap</label>
                <input type="text" value="{{general_data.nama_lengkap}}" class="input-xlarge" disabled>
            </div>
            <div class="text-center text-sm-right"></div>
            <div class="form-group">
                <label>Role</label>
                <input type="text" value="Pasien" class="input-xlarge" disabled>
            </div>
            <div class="form-group">
                <label>No Rekam Medis</label>
                <input type="text" value="{{data_pasien.no_rekam_medis}}" class="input-xlarge" disabled>
            </div>
            <div class="form-group">
                <label>Tanggal Lahir</label>
                <input type="text" value="{{general_data.tanggal_lahir}}" class="input-xlarge" disabled>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" value="{{general_data.email}}" class="input-xlarge" disabled>
            </div>
            <div class="form-group">
                <label>Alamat</label>
                <input type="text" value="{{general_data.alamat}}" class="input-xlarge" disabled>
            </div>
            <div class="form-group">
                <label>Alergi</label>
                <input type="text" value="{{alergi_pasien}}" class="input-xlarge" disabled>
            </div>
        </section>
</div>
{% endblock %}