{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Update Tindakan
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
    <h1 style="color: black;">FORM UPDATE TINDAKAN</h1>
    <form action="/app2/update_tindakan" method="POST" class="form-group">
    <!-- <form action="view_daftar_tindakan" method="POST" class="form-group"> -->
        {% csrf_token %}
        <div class="form-group">
            <label for="input_id_konsultasi">ID Konsultasi</label>
            <input type="text" class="form-control" id="input_id_konsultasi" name="id_konsultasi" value="{{ data_update.id_konsultasi }}" readonly>
        </div>

        <div class="form-group">
            <label for="input_no_urut">No Urut</label>
            <input type="text" class="form-control" id="input_no_urut" name="no_urut" value="{{ data_update.no_urut }}" readonly>
        </div>

        <div class="form-group">
            <label for="input_biaya">Biaya</label>
            <input type="text" class="form-control" id="input_biaya" value="{{ data_update.biaya }}" disabled>
        </div>

        <div class="form-group">
            <label for="input_catatan">Catatan</label>
            <input type="text" class="form-control" id="input_catatan" name="catatan" value="{{ data_update.catatan }}" placeholder="Masukkan Catatan" required>
        </div>

        <div class="form-group">
            <label for="input_id_transaksi">ID Transaksi</label>
            <input type="text" class="form-control" id="input_id_transaksi" value="{{ data_update.id_transaksi }}" disabled>
        </div>

        <!-- <div class="dropdown">
            <label for="input_daftar_id_tindakan_poli">Daftar ID Tindakan Poli</label>
            <br>
            <select id="Daftar ID Tindakan Poli">
              <option value="dropdown-item">238-54-8486</option>
              <option value="dropdown-item">437-15-6165</option>
              <option value="dropdown-item">371-15-5115</option>
              <option value="dropdown-item">818-70-0106</option>
              <option value="dropdown-item">521-33-8904</option>
            </select>
        </div>
        <br> -->

        <div class="form-group">
            <label for="input_id_tindakan_poli">Daftar ID Tindakan Poliklinik</label>
            <input type="text" class="form-control" id="input_id_tindakan_poli" name="id_tindakan_poli" value="{{ data_update.id_tindakan_poli }}" disabled>
        </div>

        <input type="submit" class="btn btn-primary" value="Update Tindakan">
    </form>
</div>
{% endblock %}