{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Update Tindakan Poliklinik
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
    <h1 style="color: black;">FORM UPDATE TINDAKAN POLIKLINIK</h1>
    <form action="/app2/update_tindakan_poli" method="POST" class="form-group" id="update_tindakan_poli">
    <!-- <form action="view_daftar_tindakan_poli" method="POST" class="form-group"> -->
        {% csrf_token %}
        <div class="form-group">
            <label for="input_id_tindakan_poli">ID Tindakan Poliklinik</label>
            <input type="text" class="form-control" id="input_id_tindakan_poli" name="id_tindakan_poli" value="{{ data_update.id_tindakan_poli }}" readonly>
        </div>
        
        <!-- <div class="dropdown">
            <label for="input_id_poli">ID Poliklinik</label>
            <br>
            <select id="ID Poliklinik">
              <option value="dropdown-item">41163-300</option>
              <option value="dropdown-item">14783-045</option>
              <option value="dropdown-item">50845-0109</option>
              <option value="dropdown-item">67510-0082</option>
              <option value="dropdown-item">55441-901</option>
            </select>
        </div>
        <br> -->

        <div class="form-group">
            <label for="input_id_poliklinik">ID Poliklinik</label>
            <br>
            <select id="input_id_poliklinik" name="id_poliklinik" form="update_tindakan_poli">
              {% for data in id_poliklinik_choices %}
                {% if data == data_update.id_poliklinik %}
                <option selected="selected" class="dropdown-item" >{{data}}</option>
                {% else %}
                <option class="dropdown-item">{{data}}</option>
                {% endif %}
              {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="input_nama_tindakan">Nama Tindakan</label>
            <input type="text" class="form-control" id="input_nama_tindakan" name="nama_tindakan" value="{{ data_update.nama_tindakan }}" placeholder="Masukkan Nama" required>
        </div>

        <div class="form-group">
            <label for="input_deskripsi">Deskripsi</label>
            <input type="text" class="form-control" id="input_deskripsi" name="deskripsi" value="{{ data_update.deskripsi }}" placeholder="Masukkan Deskripsi" required>
        </div>
        
        <div class="form-group">
            <label for="input_tarif">Tarif</label>
            <input type="text" class="form-control" id="input_tarif" name="tarif" value="{{ data_update.tarif}}" placeholder="Masukkan Tarif" required>
        </div>
        
        <input type="submit" class="btn btn-primary" value="Update Tindakan Poliklinik">
    </form>
</div>
{% endblock %}
