
@import url("https://fonts.googleapis.com/css?family=Anton&family=Modak&family=Poppins:wght@400;500&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #E0CFE3;
}
div,button {
  font-family: Poppins, sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}
#imgsize {
  width: 100%;
  height: 30vw;
}
@media (max-width: 767px) {
  .column-1,
  .column-2 {
      width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .column-1 {
      width: 50%;
  }
  .column-2 {
      width: 100%;
  }
}
@media (min-width: 992px) {
  .column-2,
  .column-1 {
      width: 33%;
  }
}