{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Create Transaksi
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <h1 style="color: black;">FORM PEMBUATAN TRANSAKSI</h1>
        <form action="" method="POST" class="form-group">
            {% csrf_token %}
            {% for field in create_form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="">
                <input type="submit" class="btn btn-primary" value="Buat Transaksi">
            </div>
        </form>
    </div>
{% endblock %}