{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Daftar Transaksi
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container">
        <div class="page-header">
            <h1 style="color: black;">DAFTAR TRANSAKSI</h1>
        </div>
        <div>
            <table class=' table table-condensed '>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Status</th>
                        <th>Total Biaya</th>
                        <th>Waktu Pembayaran</th>
                        <th>Nomor Rekam Medis Pasien</th>
                        {% if request.session.user == "administrator" %}
                            <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in daftar_transaksi %}
                    <tr>
                        {% if request.session.user == "administrator" %}
                        
                        {% endif %}
                            <td>{{data.id_transaksi}}</td>
                            <td>{{data.tanggal}}</td>
                            <td>{{data.status}}</td>
                            <td>Rp {{data.total_biaya}}</td>
                            <td>{{data.waktu_pembayaran}}</td>
                            <td>{{data.no_rekam_medis}}</td>
                            {% if request.session.user == "administrator" %}
                            <td>
                                
                                    <div class="pi-draggable btn-group" draggable="true">
                                        <form action="update_transaksi" method="GET" class="form-group">
                                            <input type="submit" class="btn btn-primary" value="Update">
                                            <input type="hidden" name="id_transaksi" value="{{data.id_transaksi}}">
                                        </form>
                                        
                                        <form action="delete_transaksi" method="GET" class="form-group">
                                            <input type="submit" class="btn btn-danger" value="Delete">
                                            <input type="hidden" name="id_transaksi" value="{{data.id_transaksi}}">
                                        </form>
                                        
                                    </div>
                                    
                                </form>
                            </td>
                            
                            {% endif %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if request.session.user == "administrator" %}
            <a class="btn btn-primary" href="{% url 'app5:create_transaksi' %}" style="width: 250px;">
                Create Transaksi
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}