{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Update Transaksi
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <h1 style="color: black;">FORM UPDATE TRANSAKSI</h1>
        <form action="/app5/update_transaksi" method="POST" class="form-group">
            {% csrf_token %}

            <div class="form-group">
                <label for="input_id">ID Transaksi</label>
                <input type="text" class="form-control" id="input_id" name="id_transaksi" value="{{ data_update.id_transaksi }}" readonly>
            </div>
            
            <div class="form-group">
                <label for="input_tanggal">Tanggal</label>
                <input type="text" class="form-control" id="input_tanggal" name="tanggal" value="{{ data_update.tanggal }}" placeholder="Masukkan Tanggal">
            </div>

            <div class="form-group">
                <label for="input_status">Status</label>
                <input type="text" class="form-control" id="input_tanggal" name="status" value="{{ data_update.status }}" placeholder="Masukkan Status">
            </div>

            <div class="form-group">
                <label for="input_biaya">Total Biaya</label>
                <input type="text" class="form-control" id="input_biaya" name="total_biaya" value="{{ data_update.total_biaya }}" disabled>
            </div>
            
            <div class="form-group">
                <label for="input_waktu">Waktu Pembayaran</label>
                <input type="text" class="form-control" id="input_waktu" name="waktu_pembayaran" value="{{ data_update.waktu_pembayaran }}" placeholder="Masukkan Waktu Pembayaran">
            </div>

            <div class="form-group">
                <label for="input_nomor">Nomor Rekam Medis Pasien</label>
                <input type="text" class="form-control" id="input_nomor" name="no_rekam_medis" value="{{ data_update.no_rekam_medis }}" disabled>
            </div>
            
            <input type="submit" class="btn btn-primary" value="Update Transaksi">
         
        </form>
       
            
        
    </div>
{% endblock %}