{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Medika Go | Administrator
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}

<div class="container">
    <h1 style="color: black;">ADMINISTRATOR</h1>
    
    <a class="btn btn-primary" href="{% url 'app2:profil' %}" style="width: 200px;">
      Profil
    </a>
    <br><br>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
          Sesi Konsultasi
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'app1:create_sesikonsultasi' %}">Buat Sesi Konsultasi</a>
          <a class="dropdown-item" href="{% url 'app1:daftar_sesikonsultasi' %}">Daftar Sesi Konsultasi</a>
        </div>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
          Poliklinik
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'app4:create_layanan_poliklinik' %}">Buat Layanan Poliklinik</a>
          <a class="dropdown-item" href="{% url 'app4:daftar_layanan_poliklinik' %}">Daftar Layanan Poliklinik</a>
          <a class="dropdown-item" href="{% url 'app4:create_layanan_poliklinik' %}">Buat Jadwal Poliklinik</a>
          <a class="dropdown-item" href="{% url 'app4:daftar_jadwal_poliklinik' %}">Daftar Jadwal Poliklinik</a>
        </div>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
          RS Cabang
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'app1:create_rs_cabang' %}">Buat RS Cabang</a>
          <a class="dropdown-item" href="{% url 'app1:daftar_rs_cabang' %}">Daftar RS Cabang</a>
          <a class="dropdown-item" href="{% url 'app4:create_dokter_rs_cabang' %}">Daftarkan Dokter</a>
          <a class="dropdown-item" href="{% url 'app4:daftar_dokter_rs_cabang' %}">Daftar Dokter RS Cabang</a>
          <a class="dropdown-item" href="#">Daftarkan Administrator</a>
        </div>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
          Tindakan
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'app2:create_tindakan' %}">Buat Tindakan</a>
          <a class="dropdown-item" href="{% url 'app2:view_daftar_tindakan' %}">Daftar Tindakan</a>
          <a class="dropdown-item" href="{% url 'app2:create_tindakan_poli' %}">Buat Tindakan Poliklinik</a>
          <a class="dropdown-item" href="{% url 'app2:view_daftar_tindakan_poli' %}">Daftar Tindakan Poliklinik</a>
        </div>
      </div>
      <br>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;">
          Resep dan Obat
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Buat Resep</a>
          <a class="dropdown-item" href="#">Daftar Resep</a>
          <a class="dropdown-item" href="#">Buat Obat</a>
          <a class="dropdown-item" href="#">Daftar Obat</a>
        </div>
      </div>
      <br>
      <a class="btn btn-primary" href="{% url 'app5:daftar_transaksi' %}" style="width: 200px;">
        Daftar Transaksi
      </a>
      <br><br>
      <a class="btn btn-danger" href="{% url 'login:logout' %}" style="width: 200px;">
        Logout
      </a>
</div>

{% endblock %}