{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
    Medika Go
{% endblock %}

{% block content %}

  {% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
  {% endif %}
  <div class="text-white bg-primary" style="padding-top: 10vw;">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <p class="h1" style="color: #222831; font-weight: bold;"> <strong> MedikaGo </strong></p>
            <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-5" style="text-align: justify;">
          <p class="lead" style="color: #222831; font-family: Poppins,sans-serif;">Selamat datang di Tugas Kelompok Basdat. 
          Kami dari kelompok 5 kelas Basdat A mohon nilainya yang bagus ya Kak
          karena capek dan pusing bosq mengapa mengapa begini. Yuk lawan covid-19 menggunakan MedikaGo
          memberikan layanan konsultasi yang baik dan cepat tanggap terhadap masalah.
          Ayo mari gunakan medikaGo secepatnya ya.
          </p>

          {% if request.session.user == "nothing" %}
            <div class="row bg-primary" style="margin-top: 6vw;">
              <div class="col-md-5">
                <a class="btn col-12 btn-default btn-rounded"data-toggle="modal" data-target="#modalLRForm" style="background-color: #F1DED0; font-weight: bold; border-color: #222831;" href="">Login </a>
              </div>
              <div class="col-md-5">
                <a class="btn col-12" style="background-color: #F1DED0; font-weight: bold;border-color: #222831;" href="{% url 'login:signup' %}" >Sign Up </a>
              </div>
            </div>
          {% endif %}

        </div>
        <div class="col-md-6 text-primary">
          <img class="img-responsive d-block img-fluid mx-auto bg-primary" style="width: 20vw; height: auto;" src="{% static 'img/ava.png' %}"> </div>
      </div>
    </div>
  </div>

  <!--BAGIAN POP UP UNTUK LOGIN-->
<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>Login</a>
          </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <form action="auth" method="POST" class="form-group">
            {% csrf_token %}
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="username" name="username" id="modalLRInput10" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput10">Username</label>
              </div>
              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" name="password" id="modalLRInput11" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput11">password</label>
              </div>
              <div class="text-center mt-2">
                <input type="submit" class="btn btn-info" value="Log in">
              </div>
            </div>
            </form>
            <!--Footer-->
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Belum terdaftar? <a href="{% url 'login:signup' %}" class="blue-text">Sign Up</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}