{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Medika Go | Pengguna
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}

<div class="container">
  <h1 style="color: black;">PENGGUNA</h1>
  
  <a class="btn btn-primary" href="{% url 'app2:profil' %}" style="width: 250px;">
    Profil
  </a>
  <br><br>
  <a class="btn btn-primary" href="{% url 'app1:daftar_sesikonsultasi' %}" style="width: 250px;">
    Daftar Sesi Konsultasi
  </a>
  <br><br>
  <a class="btn btn-primary" href="{% url 'app2:view_daftar_tindakan_poli' %}" style="width: 250px;">
    Daftar Tindakan Poliklinik
  </a>
  <br><br>
  <a class="btn btn-primary" href="{% url 'app2:view_daftar_tindakan' %}" style="width: 250px;">
    Daftar Tindakan
  </a>
  <br><br>
  <a class="btn btn-primary" style="width: 250px;">
    Daftar Resep
  </a>
  <br><br>
  <a class="btn btn-primary" style="width: 250px;">
    Daftar Obat
  </a>
  <br><br>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 250px;">
        RS Cabang
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'app1:daftar_rs_cabang' %}">Daftar RS Cabang</a>
        <a class="dropdown-item" href="{% url 'app4:daftar_dokter_rs_cabang' %}">Daftar Dokter RS Cabang</a>
      </div>
    </div>
    <br>
    <a class="btn btn-primary" href="{% url 'app4:daftar_layanan_poliklinik' %}" style="width: 250px;">
      Daftar Layanan
    </a>
    <br><br>
    <a class="btn btn-primary" href="{% url 'app5:daftar_transaksi' %}" style="width: 250px;">
      Daftar Transaksi
    </a>
    <br><br>
    <a class="btn btn-danger" href="{% url 'login:logout' %}" style="width: 250px;">
      Logout
    </a>
</div>

{% endblock %}