{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Medika Go | Sign Up Pasien
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
    <h1 style="color: black;">FORM PENDAFTARAN PASIEN</h1>
    <form action="/signup/pasien" method="POST" class="form-group">
        {% csrf_token %}
        {% for field in pasien_form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <div class="">
            <input type="submit" class="btn btn-primary" value="Daftar Pasien">
        </div>
    </form>
</div>
{% endblock %}