{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
    Medika Go | Sign Up
{% endblock %}

{% block content %}
<div class="text-white bg-primary" style="padding-top: 5vw;">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <p class="h1" style="color: #222831; font-weight: bold;"> <strong> Sign Up AS ?</strong></p>
            <hr>
        </div>
      </div>
    </div>

<!-- Grid row -->
    <div class="row " style="margin: auto; margin-left: 1vw;">
        <!-- Grid column -->
        <div class="column-2 px-1 mb-3">
    
        <!--Card-->
        <div class="card default-color-dark">
    
            <!--Card image-->
            <div class="view">
            <img src="{% static 'img/admin.png' %}" class="card-img-top" id="imgsize" alt="photo">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
            <!--Card content-->
            <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title white-text">Administrator</h4>
            <!--Text-->
            <!-- <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Nemo enim ipsam voluptatem quia voluptas.</p> -->
            <a href="{% url 'login:signup_admin' %}" class="btn btn-info" >Sign Up</a>
            </div>
    
        </div>
        <!--/.Card-->
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="column-2 px-1 mb-3">
    
        <!--Card-->
        <div class="card primary-color-dark">
    
            <!--Card image-->
            <div class="view">
            <img src="{% static 'img/Dokter.png' %}" id="imgsize" class="card-img-top" alt="photo">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
    
            <!--Card content-->
            <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title white-text">Dokter</h4>
            <!--Text-->
            <!-- <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Nemo enim ipsam voluptatem quia voluptas.</p> -->
            <a href="{% url 'login:signup_dokter' %}" class="btn btn-info">Sign Up</a>
            </div>
    
        </div>
        <!--/.Card-->
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="column-2 px-1 mb-3">
    
        <!--Card-->
        <div class="card warning-color-dark">
    
            <!--Card image-->
            <div class="view">
            <img src="{% static 'img/pasien.png' %}" id="imgsize" class="card-img-top" alt="photo">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
    
            <!--Card content-->
            <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title white-text">Pasien</h4>
            <!--Text-->
            <!-- <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                Nemo enim ipsam voluptatem quia voluptas.</p> -->
            <a href="{% url 'login:signup_pasien' %}" class="btn btn-info">Sign Up</a>
            </div>
    
        </div>
        <!--/.Card-->
    
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
</div>  
{% endblock %}

