{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Daftar RS Cabang
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container">
        <div class="page-header">
            <h1 style="color: black;">DAFTAR RS CABANG</h1>
        </div>
        <div>
            <table class=' table table-condensed '>
                
                <thead>
                    <tr>
                        <th>Kode Rs Cabang</th>
                        <th>Nama Rs Cabang</th>
                        <th>Tanggal Pendirian</th>
                        <th>Jalan</th>
                        <th>Kota</th>
                        <th>Nomor</th>
                        {% if request.session.user == "administrator"%}
                            <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in daftar_rs_cabang %}
                    <tr>
                            <td>{{data.kode_rs}}</td>
                            <td>{{data.nama_rs}}</td>
                            <td>{{data.tanggal_pendirian}}</td>
                            <td>{{data.jalan}}</td>
                            <td>{{data.kota}}</td>
                            <td>{{data.nomor}}</td>
                            {%if request.session.user == "administrator" %}
                            <td>
                                <div class="pi-draggable btn-group" draggable="true">                        
                                    <form action="update_rs_cabang" method="GET" class="form-group">       
                                        <input type="submit" class="btn btn-primary" value="Update">
                                        <input type="hidden" name="kode_rs" value="{{data.kode_rs}}">
                                    </form>
                                    <form action="delete_rs_cabang" method="GET" class="form-group"> 
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                        <input type="hidden" name="kode_rs" value="{{data.kode_rs}}">  
                                    </form>
                                </div>
                            </td>
                            {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if request.session.user == "administrator" %}
                <a href="{% url 'app1:create_rs_cabang' %}" class="btn btn-primary">
                    Create RS Cabang
                </a>
        {% endif %}
        </div>
    </div>
{% endblock %}