{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Daftar Sesi Konsultasi
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container">
        <div class="page-header">
            <h1 style="color: black;">DAFTAR SESI KONSULTASI</h1>
        </div>
        <div>
            <table class='table table-condensed '>
                <thead>
                    <tr>
                        <th>Id Konsultasi</th>
                        <th>Nomor Pasien</th>
                        <th>Tanggal</th>
                        <th>Biaya</th>
                        <th>Status</th>
                        <th>Id Transaksi</th>
                        {% if request.session.user == "administrator" %}
                            <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in daftar_sesi_konsultasi %}
                    <tr>
                            <td>{{data.id_konsultasi}}</td>
                            <td>{{data.no_pasien}}</td>
                            <td>{{data.tanggal}}</td>
                            <td>Rp {{data.biaya}}</td>
                            <td>{{data.status}}</td>
                            <td>{{data.id_transaksi}}</td>
                            {%if request.session.user == "administrator" %}
                            <td>
                                <div class="pi-draggable btn-group" draggable="true">
                                    <form action="update_sesi_konsultasi" method="GET" class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Update">
                                        <input type="hidden" name="id_konsultasi" value="{{data.id_konsultasi}}">
                                    </form>
                                    <form action="delete_sesi_konsultasi" method="GET" class="form-group">
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                        <input type="hidden" name="id_konsultasi" value="{{data.id_konsultasi}}">
                                    </form>
                                </div>
                            </td>
                            {% endif %}                            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if request.session.user == "administrator" %}
                <a href="{% url 'app1:create_sesikonsultasi' %}" class="btn btn-primary">
                    Create Sesi Konsultasi
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}