{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Update Sesi Konsultasi
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <h1 style="color: black;">FORM UPDATE SESI KONSULTASI</h1>
        <form action="/app1/update_sesi_konsultasi" method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="input_id">Id Konsultasi</label>
                <input type="text" class="form-control" id="input_id" name="id_konsultasi" value="{{ data_update.id_konsultasi }}" readonly>
            </div>
            <div class="form-group">
                <label for="input_noPasien">Nomor Pasien</label>
                <input type="text" class="form-control" id="input_noPasien" name="no_pasien" value="{{ data_update.no_pasien }}" readonly>
            </div>

            <div class="form-group">
                <label for="input_tanggal">Tanggal (YYYY-MM-DD)</label>
                <input type="text" class="form-control" id="input_tanggal" name="tanggal" value="{{ data_update.tanggal }}" placeholder="tanggal">
            </div>

            <div class="form-group">
                <label for="input_biaya">Biaya</label>
                <input type="text" class="form-control" id="input_biaya" name="biaya" value="{{ data_update.biaya }}" readonly>
            </div>
            
            <div class="form-group">
                <label for="input_status">Status</label>
                <input type="text" class="form-control" id="input_status" name="status" value="{{ data_update.status }}" placeholder="Masukkan Status">
            </div>

            <div class="form-group">
                <label for="input_idtr">Id Transaksi</label>
                <input type="text" class="form-control" id="input_idtr" name="id_transaksi" value="{{ data_update.id_transaksi }}" readonly>
            </div>
            
            <input type="submit" class="btn btn-primary" value="Update Sesi Konsultasi">
         
        </form>     
    </div>
{% endblock %}