{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Update RS Cabang
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <h1 style="color: black;">FORM UPDATE RS CABANG</h1>
        <form action="/app1/update_rs_cabang" method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="input_id">kode_rs</label>
                <input type="text" class="form-control" id="input_id" name="kode_rs" value="{{ data_update.kode_rs }}"  readonly>
            </div>
            <div class="form-group">
                <label for="input_nama">Nama RS</label>
                <input type="text" class="form-control" id="input_nama" name="nama_rs" value="{{ data_update.nama_rs }}" placeholder="Nama Rs">
            </div>
            <div class="form-group">
                <label for="input_tanggal_pendirian">Tanggal Pendirian (YYYY-MM-DD)</label>
                <input type="text" class="form-control" id="input_tanggal_pendirian" name="tanggal_pendirian" value="{{ data_update.tanggal_pendirian }}" placeholder="Tanggal Pendirian">
            </div>

            <div class="form-group">
                <label for="input_jalan">Jalan</label>
                <input type="text" class="form-control" id="input_jalan" name="jalan" value="{{ data_update.jalan }}" placeholder="Jalan">
            </div>
            
            <div class="form-group">
                <label for="input_kota">Kota</label>
                <input type="text" class="form-control" id="input_kota" name="kota" value="{{ data_update.kota }}" placeholder="Kota">
            </div>

            <div class="form-group">
                <label for="input_nomor">Nomor</label>
                <input type="text" class="form-control" id="input_nomor" name="nomor" value="{{ data_update.nomor }}" placeholder="Nomor">
            </div>
            <input type="submit" class="btn btn-primary" value="Update Rs Cabang">
        </form>     
    </div>
{% endblock %}