{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Modak&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block subtitle %} MedikaGo {% endblock %}</title>
</head>
<body>
<header>
    {% include 'header/header.html' %}
</header>
<main class="bg-primary" id="wrap">
    <div class="bg-primary py-4">
        <div class="container">
            {% for message in messages %}
            <div class="row">
                <div class="col-12">
                    <div class="alert {{ message.tags }} alert-dismissible" style="color: black; border-color:black; background-color:#cde9ff;" >
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block content %}
        <!-- konten yang bakal di isi-->
        {% endblock %}
    </div>
</main>
<footer id="footer">
    {% include 'header/footer.html' %}
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8e23d86a11.js" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}

</body>
</html>