<!-- <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Daftar Dokter RS Cabang</h2>

<table>
  <tr>
    <th>ID Layanan Poliklinik</th>
    <th>Nama</th>
    <th>Deskripsi</th>
    <th>Kode RS Cabang</th>
    <th>Jadwal Poliklinik</th>
    <th>Action[admin]</th>
  </tr>
  <tr>
    <td>41163-300</td>
    <td>AINI Eye Hospital</td>
    <td>Eye Doctor</td>
    <td>23-895-1256</td>
    <td><a href="jadwal"><button class="btn btn-outline-primary">Jadwal</button></a></td>
    <td><a href="update_jadwal_poliklinik"><button class="btn btn-outline-primary">Update</button></a>
        <a href="daftar_dokter_rs_cab"><button class="btn btn-outline-primary">Delete</button></a></td>
  </tr>
  <tr>
    <td>14783-045</td>
    <td>Morula IVF</td>
    <td>IVF Clinic</td>
    <td>67-764-0411 </td>
    <td><a href="jadwal"><button class="btn btn-outline-primary">Jadwal</button></a></td>
    <td><a href="update_jadwal_poliklinik"><button class="btn btn-outline-primary">Update</button></a>
        <a href="daftar_dokter_rs_cab"><button class="btn btn-outline-primary">Delete</button></a></td>
  </tr>
  <tr>
    <td>50845-0109</td>
    <td>Dharmain Cancer Hospital</td>
    <td>Specialist in Cancer</td>
    <td>23-895-1256</td>
    <td><a href="jadwal"><button class="btn btn-outline-primary">Jadwal</button></a></td>
    <td><a href="update_jadwal_poliklinik"><button class="btn btn-outline-primary">Update</button></a>
        <a href="daftar_dokter_rs_cab"><button class="btn btn-outline-primary">Delete</button></a></td>
  </tr>
  <tr>
    <td>67510-0082</td>
    <td>Dharmatologist</td>
    <td>UK</td>
    <td>23-895-1256</td>
    <td><a href="jadwal"><button class="btn btn-outline-primary">Jadwal</button></a></td>
    <td><a href="update_jadwal_poliklinik"><button class="btn btn-outline-primary">Update</button></a>
        <a href="daftar_dokter_rs_cab"><button class="btn btn-outline-primary">Delete</button></a></td>
  </tr>
  <tr>
    <td>55441-901</td>
    <td>PROSTASIA</td>
    <td>Clinic for vaccine</td>
    <td>23-895-1256</td>
    <td><a href="jadwal"><button class="btn btn-outline-primary">Jadwal</button></a></td>
    <td><a href="update_jadwal_poliklinik"><button class="btn btn-outline-primary">Update</button></a>
        <a href="daftar_dokter_rs_cab"><button class="btn btn-outline-primary">Delete</button></a></td>
  </tr>
</table>

</body>
</html> -->



{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Daftar Layanan Poliklinik
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
  <div class="page-header">
      <h1 style="color: black;">DAFTAR LAYANAN POLIKLINIK</h1>
  </div>
  <div>
      <table class=' table table-condensed '>
          <thead>
              <tr>
                <th>ID Layanan Poliklinik</th>
                <th>Nama</th>
                <th>Deskripsi</th>
                <th>Kode RS Cabang</th>
                <th>Jadwal Poliklinik</th>
                {% if request.session.user == "administrator" %}
                <th>Action[admin]</th>
                {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for data in table %}
              <tr>
                      <td>{{data.id_poliklinik}}</td>
                      <td>{{data.nama}}</td>
                      <td>{{data.deskripsi}}</td>
                      <td>{{data.kode_rs_cabang}}</td>
                      <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a class="btn btn-primary" href="{% url 'app4:daftar_jadwal_poliklinik' %}">Jadwal</a>
                        </div>
                      </td>
                      {% if request.session.user == "administrator" %}
                      <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a class="btn btn-primary" href="{% url 'app4:update_layanan_poliklinik' data.id_poliklinik %}">Update</a>
                            <a class="btn btn-danger" href="{% url 'app4:delete_layanan_poliklinik' data.id_poliklinik %}">Delete</a>
                        </div>
                    </td>
                    {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock %}