<!-- <!DOCTYPE html>
<html>
  <head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

    </style>
    </head>
    <title> Layanan Poliklinik </title>
    <body>

      <h2> Daftar Dokter-RS Cabang</h2>
      
      <table>
        <tr>
          <th>No.</th>
          <th>Kode RS Cabang</th>
          <th>ID Dokter</th>
          <th>Action</th>
        </tr>
        <tr>
          <td rowspan="2">1.</td>
          <td rowspan="2">99-955-8506</td>
          <td>4</td>
          <td>
          <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
          <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
          </td>
          <tr>
            <td>5</td>

          <td>
            <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
            <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
          </td>
        </tr>
        <tr>
          <tr>
            <td rowspan="2">2.</td>
            <td rowspan="2">67-764-0411</td>
            <td>6</td>
            <td>
            <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
            <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
            </td>
            <tr>
            <td>7</td>
            <td>
              <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
              <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
            </td>
          </tr>
          <tr>
            <td rowspan="2">3.</td>
            <td rowspan="2">13-016-3757</td>
            <td>1</td>
            <td>
            <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
            <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
            </td>
            <tr>
              <td>4</td>
  
            <td>
              <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
              <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
            </td>
          </tr>
          <tr>
            <td rowspan="3">4.</td>
            <td rowspan="3">23-895-1256</td>
            <td>2</td>
            <td>
            <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
            <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
            </td>
            <tr>
              <td>3</td>
            <td>
              <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
              <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
            </td>
            </tr>

            <tr>
              <td>4</td>
            <td>
              <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
              <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
            </td>
            </tr>
          </tr>  
        <tr>
          <td>5.</td>
          <td>87-243-6711</td>
          <td>2</td>
          <td>
            <a href="update_dokter"> <button class="btn btn-outline-primary">Update</button> </a>
            <a href="daftar_dokter_rs_cab"> <button class="btn btn-outline-danger">Delete</button> </a>
            </td>
        </tr>

      </table>
      
      </body>
</html> -->


{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Daftar Dokter RS Cabang
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
  <div class="page-header">
      <h1 style="color: black;">DAFTAR DOKTER RS CABANG</h1>
  </div>
  <div>
      <table class=' table table-condensed '>
          <thead>
              <tr>
                <th>Kode RS Cabang</th>
                <th>ID Dokter</th>
                {% if request.session.user == "administrator" %}
                <th>Action</th>
                {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for data in daftar_dokter_rs_cabang %}
              <tr>
                      <td>{{data.kode_rs}}</td>
                      <td>{{data.id_dokter}}</td>
                      {% if request.session.user == "administrator" %}
                      <td>
                        <div class="pi-draggable btn-group" draggable="true">                        
                            <form action="update_dokter_rs_cabang" method="GET" class="form-group">       
                                <input type="submit" class="btn btn-primary" value="Update">
                                <input type="hidden" name="kode_rs" value="{{data.kode_rs}}">
                                <input type="hidden" name="id_dokter" value="{{data.id_dokter}}">  
                            </form>
                            <form action="delete_dokter_rs_cabang" method="GET" class="form-group"> 
                                <input type="submit" class="btn btn-danger" value="Delete">
                                <input type="hidden" name="kode_rs" value="{{data.kode_rs}}">  
                                <input type="hidden" name="id_dokter" value="{{data.id_dokter}}">  
                            </form>
                        </div>
                    </td>
                    {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
      {% if request.session.user == "administrator" %}
            <a class="btn btn-primary" href="{% url 'app4:create_dokter_rs_cabang' %}" style="width: 250px;">
                Create Dokter RS Cabang
            </a>
      {% endif %}
  </div>
</div>
{% endblock %}



