<!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Transaksi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1 {
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        body {
            margin-left: 40px;
            margin-right: 50px;
        }
        
        .container {
            margin: 0;
            display: inline-flex;
        }
        
        .container2 {
            align-items: center;
        }

        .space{
          margin-left: 2em;
        }
    </style>
</head>

<body>
    <h1>FORM UPDATE DOKTER RS CABANG</h1>
    <div class="container2">
        <div class="container">


          <form action="/action_page.php" aria-haspopup="true" aria-expanded="false">
            <p> Id Dokter </p>
            <select id="cars" name="cars">
              <option >1</option>
              <option >2</option>
              <option >3</option>
              <option >4</option>
              <option >5</option>
              <option >6</option>
              <option >7</option>
            </select>
          </form>

          <form class="space" action="/action_page.php" aria-haspopup="true" aria-expanded="false">
            <p> Kode RS Cabang </p>
            <select id="cars" name="cars">
              <option >87-243-6711</option>
              <option >13-016-3757</option>
              <option >23-895-1256</option>
              <option >67-764-0411</option>
              <option >99-955-8506</option>
            </select>
          </form>

        </div>
        <div>
          <a href="daftar_dokter_rs_cab"><button class="btn btn-outline-primary">Update</button></a>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html> -->


{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
Update Dokter RS Cabang
{% endblock %}

{% block content %}

{% if error_msg %}
    <div class="row bg-primary">
        <div class="col-12">
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p>{{ error_msg }}</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
    <h1 style="color: black;">FORM UPDATE DOKTER RS CABANG</h1>
    <form action="update_dokter_rs_cabang" method="POST" class="form-group" id="update_dokter"> 
      {% csrf_token %}
      <input type="hidden" name="id_dokter" value="{{id_dokter}}">
      <input type="hidden" name="kode_rs" value="{{kode_rs}}">
      
        <div class="dropdown">
            <label>ID Dokter</label>
            <br>
            <select name="id_dokter_new" form="update_dokter">
              {% for data in id_dokter_choices %}
                {% if data == id_dokter %}
                <option selected="selected" class="dropdown-item" >{{data}}</option>
                {% else %}
                <option class="dropdown-item">{{data}}</option>
                {% endif %}
              {% endfor %}
            </select>
        </div>

        <div class="dropdown">
          <label>Kode RS</label>
          <br>
          <select name="kode_rs_new" form="update_dokter">
            {% for data in kode_rs_choices %}
              {% if data == kode_rs %}
              <option selected="selected" class="dropdown-item" >{{data}}</option>
              {% else %}
              <option class="dropdown-item">{{data}}</option>
              {% endif %}
            {% endfor %}
          </select>
      </div>

        <br>
        
        <input type="submit" class="btn btn-primary" value="Update">
    </form>
</div>
{% endblock %}
